.App-about {
	background-color: black;
	.contents {
		padding: 0 20px;
		text-align: left;
		color: greenyellow;
		font-family: Courier;
		letter-spacing: 0.15em;
		.age {
			border-right: 0.15em solid orange; /* The typwriter cursor */

			animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
		}
	}
}

/* The typing effect */
@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

/* The typewriter cursor effect */
@keyframes blink-caret {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: orange;
	}
}
