.board-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 1050px;
	margin: 20px auto;
	border-radius: 15px;

	.makeStyles-container-2 {
	}
	.MuiTablePagination-root {
		background-color: antiquewhite;
	}
	.makeStyles-container-8 {
		min-height: 80vh;
	}
	td {
		a {
			color: black;
		}
	}
	#addNew {
		margin: 15px 0;
		background-color: skyblue;
	}
	#delete {
		&.select {
			background-color: greenyellow;
		}
		&.delete {
			background-color: red;
		}
	}
}
