.App-main {
	p {
		color: white;
		margin: 0;
	}
	.article {
		background-color: white;
		height: 300px;
	}
	.container {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;

		.card {
			width: 30%;
			margin: 10px;
			background-color: rgba(255, 255, 255, 0.2);
			box-shadow: 7px 7px 8px 4px;
		}
	}
}
