.nav-header {
	z-index: 999;
	transition: height 1s, font-size 1s;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-size: calc(10px + 2vmin);
	color: white;
	height: 70px;
	background-color: transparent;
	border-bottom: azure solid 1px;
	padding: 0 36px;
	position: fixed;
	top: 0;
	width: 100%;
	box-sizing: border-box;
	.nav_ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		li {
			display: inline;
			margin: 0 10px;
		}
	}
	p {
		font-family: "Montserrat Subrayada", sans-serif;
		letter-spacing: 4px;
	}
	&.scrollTop {
		background-color: black;
		height: 39px;
		transition: height 1s, font-size 1s;
		font-size: calc(8px + 2vmin);
	}
}
