.App {
	text-align: center;
	background-color: black;
	min-height: 100vh;
	background-image: url("../src/view/assets/images/back1.jpg");
	background-size: cover;
	a {
		text-decoration: none;
		color: white;
	}
	padding-top: 70px;
}

@media (prefers-reduced-motion: no-preference) {
}

.App-link {
	color: #61dafb;
}

// @keyframes App-logo-spin {
// 	from {
// 		transform: rotate(0deg);
// 	}
// 	to {
// 		transform: rotate(360deg);
// 	}
// }
